body {

  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 4rem;
  margin: 50px auto 0 auto;
  color: #3D3C42;
  line-height: 2;
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-size: 2.5rem;
  color: #000000;
  font-weight: normal;
  padding-bottom:10px;
}

h3 {
  color:#000000;
}

hr{
  border-style:dotted none none;
  width:20%;
  border-width:15px;
  border-color:#B2A4FF;
  margin:100px auto;
}

a {
  color:#000000;


}
a:hover{
  background:#D3E4CD;

}
p{
  line-height: 2;
}

.intro-section{
  background-color:#D3E4CD;
  position: relative;
  padding: 100px;
}

.middle-container{
  background:linear-gradient(to right,#D3E4CD,#FEFBF6,#C9BBCF);
  padding-top: 50px;

}



.bottom-container {
  background-color:#B2A4FF;
  padding-top: 50px;
}

.intro-btns{
  text-align: left;
  position:absolute;
  top:20px;
  left:15px;
}
.about-btn {
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  font-family: Arial;
  color:  #000000;
  font-size: 15px;
  background: #B2A4FF;
  padding: 10px 18px 10px 20px;
  text-decoration: none;
  margin-right:20px;
}

.about-btn:hover {
  background: #76BA99;
  text-decoration: none;
}
.skill-btn {
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  font-family: Arial;
  color:  #000000;
  font-size: 15px;
  background: #B2A4FF;
  padding: 10px 18px 10px 20px;
  text-decoration: none;
  margin-right: 20px;
}

.skill-btn:hover {
  background: #76BA99;
  text-decoration: none;
}
.contact-btn {
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  font-family: Arial;
  color:  #000000;
  font-size: 15px;
  background: #B2A4FF;
  padding: 10px 18px 10px 20px;
  text-decoration: none;
  margin-right: 20px;
}

.contact-btn:hover {
  background:  #76BA99;
  text-decoration: none;
}
.web-btns{
  text-align: right;
  text-decoration: none;
  position:absolute;
  right:50px;
  top:10px;
}

.git-hub{
  margin-right: 10px;
}
.web-site{
  margin-right: 10px;
}

.first-flower{
  position:absolute;
  left:5px;
  bottom:5px;

}
.second-flower{
  position:absolute;
  right:5px;
  bottom:5px;

}






.about-me{
  width:30%;
  margin:auto;

}



.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.testing {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.frontend {
  width: 15%;
  float: right;
  margin-left: 30px;
}
.footer{
  color:#FFFFDE;
  font-size: .75rem
}
